.home h3 {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

.search-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 30px;
}

.homepage-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4rem;
}

/* .homepage-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0 2em 6em;
} */



/* DESKTOP VERSION */
/* @media (min-width: 1200px) {
    .home {
        min-height: 100%;
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .search-area {
        display: flex;
        justify-content: center;
        width: 98%;
        margin: auto;
        margin-bottom: 3rem;
    }

    #search-name {
        margin-right: 2rem;
        padding: 0.4rem;
    }

    .events {
        width: 98%;
        margin: auto;
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
}

.datepicker {
    padding: 0.4rem;
} */