.home-content {
    background: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
        no-repeat center/cover;
}

.homepage-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
    flex-flow: row wrap;
}

@media only screen and (max-width: 767px) {
    .home {
        min-height: 100%;
    }

    .home h2 {
        font-size: 1.5rem;
    }
}
