.home-content {
    background: url(https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)no-repeat center/cover;
}

.home-content h2 {
    color: white;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.homepage-cards {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 3rem;

}

@media only screen and (max-width: 767px) {
    .home {
        min-height: 100%;
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .homepage-cards {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}