.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content {
    padding-bottom: 2.5rem;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(86, 83, 83);
    color: white;
    height: calc(100vh - 200px);
    position: relative;
}

.banner-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -5;
}

.banner-container .fake-video {
    background-color: brown;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -5;
}

.banner-content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    z-index: 1;
    position: relative;
    gap: 100px;
}

.banner-container p {
    line-height: 1.5;
}

.banner-container h2 {
    font-size: 3rem;
}

.banner-container a {
    text-decoration: none;
}

.banner-content button {
    background-color: var(--main-bg-color);
}

.banner-content button:hover {
    background-color: rgb(140, 5, 93);
}

.event-card {
    width: 340px;
    height: 360px;
    margin: auto;
    background: rgb(250, 233, 227);
    padding: 0.5em;
    border-radius: 6px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.event-card img {
    width: 100%;
}

#more-info {
    font-size: small;
    color: rgb(245, 11, 163);
    margin-bottom: 0.8rem;
}

/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .event-card {
        width: 300px;
        height: 350px;
        background: rgb(250, 233, 227);
        padding: 0.5em;
        border-radius: 6px;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    }

    .event-card img {
        width: 100%;
    }

    #more-info {
        font-size: small;
        color: rgb(245, 11, 163);
        margin-bottom: 0.4rem;
    }
}

.event-card {
    width: 340px;
    height: 360px;
    margin: auto;
    background: rgb(250, 233, 227);
    padding: 0.5em;
    border-radius: 6px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.event-card img {
    width: 100%;
}

#more-info {
    font-size: small;
    color: rgb(245, 11, 163);
    margin-bottom: 0.8rem;
}

/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .event-card {
        width: 300px;
        height: 350px;
        background: rgb(250, 233, 227);
        padding: 0.5em;
        border-radius: 6px;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    }

    .event-card img {
        width: 100%;
    }

    #more-info {
        font-size: small;
        color: rgb(245, 11, 163);
        margin-bottom: 0.4rem;
    }
}

.faq {
    background-color: khaki;
}
.helsinki-info {
    background-color: khaki;
}

.home h3 {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

.search-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 30px;
}

.homepage-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .home {
        min-height: 100%;
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .search-area {
        display: flex;
        justify-content: center;
        width: 98%;
        margin: auto;
        margin-bottom: 3rem;
    }

    #search-name {
        margin-right: 2rem;
        padding: 0.4rem;
    }

    .events {
        width: 98%;
        margin: auto;
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }
}

.datepicker {
    padding: 0.4rem;
}

footer {
    background-color: rgba(115, 3, 76, 1);
    color: rgba(242, 216, 206, 1);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.icons {
    display: flex;
    margin: auto;
}

.icons a {
    color: rgba(242, 216, 206, 1);
}

.icon {
    padding-right: 1rem;
    cursor: pointer;
    font-size: 18px;
}

.icon:hover {
    font-size: 30px;
}

.footer p {
    font-size: 12px;
}

/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .footer {
        background-color: rgba(115, 3, 76, 1);
        color: rgba(242, 216, 206, 1);
        padding: 20px;
        margin-top: auto;
        /* display: flex;
        justify-content: center; */
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .icons a {
        color: rgba(242, 216, 206, 1);
    }

    .icon {
        padding-right: 1rem;
        cursor: pointer;
        font-size: 24px;
    }

    .icon:hover {
        font-size: 30px;
    }

    .footer p {
        font-size: small;
        width: 80%;
        margin-left: 7rem;
    }
}

header {
    height: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo h1 {
    font-size: 1rem;
    color: rgba(242, 216, 206, 1);
}

.logo a {
    text-decoration: none;
}

main {
    padding-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(242, 216, 206, 1);
    transition: 0.5s ease;
}

nav ul li a:hover {
    color: white;
}

[aria-current='page'] {
    color: rgb(255, 255, 255);
}
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&family=Lato:wght@300&family=Playfair+Display&family=Roboto+Slab&family=Tourney:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgba(115, 3, 76, 1);
    --secondary-bg-color: rgba(115, 3, 76, 1);
    --main-text-color: rgba(115, 3, 76, 1);
    --secondary-text-color: rgba(115, 3, 76, 1);
    --accent-color: rgba(115, 3, 76, 1);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Slab', serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid rgb(77, 76, 76);
    outline: none;
}
