.event-info {
    display: flex;
    flex-direction: column;

}

.container1 {
    background-color: rgb(250, 233, 227);
    width: 320px;
    margin: auto;
    padding: 1rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}


.event-info img {
    width: 95%;
    margin: 0.5rem;
}

.container1 input[type="submit"],
button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(122, 171, 245);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: 'Roboto Slab', serif;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0062cc;
}

#back-btn {
    background-color: rgba(115, 3, 76, 1);
    margin: 1rem 0 1rem 0;
}





/* DESKTOP VERSION */
@media (min-width: 1200px) {
    .event-info {
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }

    .container1 {
        background-color: rgb(250, 233, 227);
        width: 1000px;
        padding: 1rem;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    }

    /* .container2 {
        background-color: rgb(213, 247, 213);
        width: 650px;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    } */

    .event-info img {
        width: 100%;
        height: 100%;
    }

    .container1 input[type="submit"],
    button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(122, 171, 245);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        font-family: 'Roboto Slab', serif;
    }

    input[type="submit"]:hover,
    button:hover {
        background-color: #0062cc;
    }

    #back-btn {
        background-color: rgba(115, 3, 76, 1);
    }
}