.faq {
    width: 96%;
    margin: auto;
    margin-bottom: 5rem;
}


.faq h1,
h2 {
    color: var(--main-text-color);
    margin: 2rem 0 1rem 0;

}

hr {
    margin-bottom: 0.5rem;
}

.faq p {
    text-align: justify;
}