/* FaqInfo component */

.faq-background {
  padding: 1rem 0.6rem 2rem 0.6rem;
}

.faqinfo {
  width: 95%;
  margin: 2rem auto 10rem auto;
  margin-top: 100px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  background-color: white;
  padding: 20px;
}

.faqinfo h1 {
  color: rgba(115, 3, 76, 1);
  margin: 2rem 0 1rem 0;
}

hr {
  margin-bottom: 0.5rem;
  border: solid 1px gray;
}

.faqinfo p {
  text-align: justify;
}

/* Faq component */
.faq {
  display: flex;
  align-items: center;
}

.btn_expand {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgba(115, 3, 76, 1);
  color: white;
  transition: transform 0.3s;
  cursor: pointer;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question_title {
  color: rgba(115, 3, 76, 1);
  cursor: pointer;
}
.btn_expand.hovered {
  background-color: rgb(49, 144, 36);
  color: white;
  transform: rotate(360deg);
}

.faq-qa {
  display: flex;
  flex-direction: column;
}

.question {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.answer {
  border-radius: 5px;
  background-color: rgba(242, 216, 206, 1);
  padding: 1rem;
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
}

.answer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: rgba(242, 216, 206, 1);
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}
