.event {
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 40px;
    background: url(https://images.unsplash.com/photo-1533135175465-90ac0c0e030f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1655&q=80) no-repeat center/cover;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.event-image {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.section1 {
    width: 85vw;
    margin: auto auto 1.5rem auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.section1-main {
    border-radius: 3px;
    width: 57%;
    background-color: antiquewhite;
    padding: 20px;
    margin-right: 0.5rem;
}

.section {
    width: 85vw;
    margin: auto auto 1.5rem auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-title {
    margin-bottom: 10px;
    color: var(--main-text-color);
}

.section-content {
    margin-left: 20px;
}

.section-content p,
.exhibition-booth p {
    margin: 1rem;
    line-height: 1.5;
}

.section-content strong,
.exhibition-booth strong {
    color: var(--main-text-color);
}


.session,
.workshop {
    margin-bottom: 10px;
    padding: 20px;
    background-color: antiquewhite;
}


.exhibition {
    margin-bottom: 10px;

}

.exhibition-booth {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e4e6eb;
}



.side-event {
    margin-bottom: 10px;
}


@media (max-width: 1024px) {

    .event-image {
        width: 50%;
    }

    .section1,
    .section {
        width: 90vw;
    }
}

@media (max-width: 800px) {

    .section1,
    .section {
        flex-flow: row wrap;
    }

    .section1-main {
        width: 100%;
    }

    .event-image {
        width: 99%;
        margin-top: 0.5rem;

    }
}

@media (max-width: 480px) {

    .section1-main,
    .event-image {
        margin: 0;
    }

    .event-image {
        width: 100%;
        margin-top: 0.5rem;
    }

    .section-title {
        text-align: center;
    }
}