/* .nav-mobile {
    height: 40px;
    position: absolute;
    left: 0;
    top: 74px;
    display: flex;
    flex-direction: row;
    background-color: rgba(115, 3, 76, 1);
    width: 100%;
    z-index: 1;
}

.nav-mobile a {
    color: rgba(242, 216, 206, 1);
    text-decoration: none;
    font-size: 14px;
    margin: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
} */

header {
    height: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo h1 {
    font-size: 1rem;
    color: rgba(242, 216, 206, 1);
}

.logo a {
    text-decoration: none;
}
