@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&family=Lato:wght@300&family=Playfair+Display&family=Roboto+Slab&family=Tourney:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    height: 0;
}

:root {
    --main-bg-color: rgba(115, 3, 76, 1);
    --secondary-bg-color: rgba(115, 3, 76, 1);
    --main-text-color: rgba(115, 3, 76, 1);
    --secondary-text-color: rgba(115, 3, 76, 1);
    --accent-color: rgba(115, 3, 76, 1);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Slab', serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 0.5px solid rgb(77, 76, 76);
    outline: none;
}