.event-card {
    width: 450px;
    height: 420px;
    margin: auto;
    margin-bottom: 1.5rem;
    background: rgb(250, 233, 227);
    padding: 0.5em;
    border-radius: 6px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.event-card img {
    width: 100%;
}

.event-card h3 {
    text-align: center;
    margin-bottom: 0.8rem;
}

.event-card h5 {
    text-align: center;
}

.event-card a {
    text-decoration: none;
}

#more-info {
    font-size: small;
    color: rgb(245, 11, 163);
    margin: 0.4rem 0 0.2rem 0;
    text-align: center;
    text-decoration: none;
}


/* #more-info {
    font-size: small;
    color: rgb(245, 11, 163);
    margin-bottom: 0.8rem;
} */

/* DESKTOP VERSION */
/* @media (min-width: 1200px) {
    .event-card {
        width: 300px;
        height: 350px;
        background: rgb(250, 233, 227);
        padding: 0.5em;
        border-radius: 6px;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);


    }

    .event-card img {
        width: 100%;
    }

    #more-info {
        font-size: small;
        color: rgb(245, 11, 163);
        margin-bottom: 0.4rem;
    }
} */