/* .loading {
    text-align: center;
} */

.events {
    margin: 0 0 3rem 0;
    margin-top: 100px;
}

.events h2 {
    color: white;
    text-align: center;
    padding: 2rem 0 1.5rem 0;
}

.eventlist {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.search-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0 30px;
}

.radio-options {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.search-area input[type='date'] {
    cursor: pointer;
}

.radio-options input[type='radio'] {
    display: none;
}

.radio-options label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
}

.radio-options label:hover {
    background-color: var(--main-bg-color);
    color: rgba(242, 216, 206, 1);
}

.radio-options input[type='radio']:checked + label {
    background-color: var(--main-bg-color);
    color: rgba(242, 216, 206, 1);
}

/* mobile version */
@media (max-width: 767px) {
    .eventlist {
        display: flex;
        flex-direction: column;
    }

    .radio-options label {
        padding: 2px 8px;
    }
}
