.header {
    background-color: rgba(115, 3, 76, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: rgba(242, 216, 206, 1);
    font-size: 16px;
}

.logo h2:hover {
    font-size: 18px;
}

.logo a {
    text-decoration: none;
}

.nav {
    display: none;
}

.nav a {
    text-decoration: none;
    color: rgba(242, 216, 206, 1);
    font-size: 14px;
    margin: 0 5px;
}

.nav-mobile {
    height: 40px;
    position: absolute;
    left: 0;
    top: 74px;
    display: flex;
    flex-direction: row;
    background-color: rgba(115, 3, 76, 1);
    width: 100%;
    z-index: 1;
}

.nav-mobile a {
    color: rgba(242, 216, 206, 1);
    text-decoration: none;
    font-size: 14px;
    margin: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
}

.header button {
    height: 24px;
    width: 24px;
    padding: 0;
    margin-top: 0;
    background-color: rgba(115, 3, 76, 1);
}

.header button:hover {
    background-color: rgba(115, 3, 76, 1);
}

.hamburger,
.cross {
    font-size: 24px;
    color: rgba(242, 216, 206, 1);
}

/* DESKTOP VERSION */

@media (min-width: 1200px) {
    .header {
        background-color: rgba(115, 3, 76, 1);
        padding: 20px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo h2 {
        color: rgba(242, 216, 206, 1);
    }

    .logo h2:hover {
        font-size: 25px;
    }

    .logo a {
        text-decoration: none;
    }

    .nav {
        display: flex;
    }

    .nav a {
        text-decoration: none;
        color: rgba(242, 216, 206, 1);
        font-size: 18px;
        margin: 0 10px;
    }

    .nav a:hover {
        color: white;
    }

    .nav-mobile {
        display: none;
    }

    .mobile-icons {
        display: none;
    }
}
