.page-container {
    position: relative;
    min-height: calc(100vh - 100px);
    background: url(https://images.unsplash.com/photo-1533135175465-90ac0c0e030f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1655&q=80)
        no-repeat center/cover;
}

.page-content {
    padding-bottom: 2.5rem;
}
